# http://www.haproxy.org/download/1.4/doc/configuration.txt

global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats
    bind *:32700
    mode http
    stats enable
    stats uri /
    stats hide-version
    stats auth admin:admin

frontend frontend_http
    bind *:80
    mode tcp
    option tcplog
    default_backend backend_http

frontend frontend_https
    bind *:443
    mode tcp
    option tcplog
    default_backend backend_https

backend backend_http
    balance source
    mode tcp
    server node 127.0.0.1:8080 check

backend backend_https
    balance source
    mode tcp
    server node 127.0.0.1:8081 check
