# Release Management Configuration File
# @todo gpg encrypt this file - install gpg on redhat*/windows*

software:
  name: "devopsgroup.io Release Management"
  version: "0.1"

company:
  name: "devopsgroup.io"
  bitbucket_user: ""
  bitbucket_user_password: ""
  digitalocean_personal_access_token: "" #https://cloud.digitalocean.com/settings/applications
  credit: "Seth Reeser"
  email: "blackhole@devopsgroup.io"
  timezone_redhat: "America/New_York" #timedatectl list-timezones
  timezone_windows: "Eastern Standard Time" #tzutil /l

environments:
  dev:
    branch: "develop"
    servers:
      redhat:
        ip: "192.168.50.101"
        port_80: 9101
      redhat_mysql:
        ip: "192.168.50.102"
        mysql:
          user: "dev"
          user_password: "password"
          root_password: "password"
      windows:
        ip: "192.168.50.201"
        port_80: 9201
        port_3389: 9200
      windows_mssql:
        ip: "192.168.50.202"
    software:
      drupal:
        admin_password: "password"
      wordpress:
        admin_password: "password"
  test:
    branch: "master"
  qc:
    branch: "master"
  production:
    branch: "master"


# options for websites
# [apache,iis]:           apache => redhat, iis => windows
#     - domain:
#         "example.com"   this will key most everything and is what localdev resolves to i.e. dev.example.com
#       repo:
#         "https://bitbucket.org/stardev/example.git"   currently only supports git repositories over https
#       software:
#         "codeigniter2"  generates codeigniter2 db config file ~/application/config/database.php, restores database from the repos ~/_sql folder
#         "drupal6"       generates drupal6 db config file ~/sites/default/settings.php, resets drupal6 admin password, rsyncs ~/sites/default/files from production source, restores database from the repos ~/_sql folder
#         "drupal7"       generates drupal7 db config file ~/sites/default/settings.php, resets drupal7 admin password, rsyncs ~/sites/default/files from production source, restores database from the repos ~/_sql folder
#         "wordpress"     generates wordpress db config file ~/installers/wp-config.php, resets wordpress admin password, rsyncs ~/wp-content/uploads from production source, restores database from the repos ~/_sql folder
#         "veeva"         allows directory browsing from the webroot
#       software_dbprefix:
#         "main_"         usually used in drupal for multisite installations
#       webroot:
#         "www/"          if the webroot differs from the repo root, must include trailing slash

websites:
  apache:
    - domain: "devopsgroup.io"
      repo: "https://github.com/devopsgroup-io/devopsgroup-io.git"
      webroot: "dist/"
  iis:
    - domain: "devopsgroup.io"
      repo: "https://github.com/devopsgroup-io/devopsgroup-io.git"
